<!-- SET VARIABLES ESPECIALLY FOR COLORS -->


<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light&family=Poppins:ital,wght@0,300;1,300&display=swap');
/*mostly for home.html*/
	html {
		scroll-behavior: smooth;
	}

	body {
		/*border: 1px solid red;*/
		min-height: 100vh;
		background: #000;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		justify-content: center;
		/*text-align: center;*/
		overflow-x: hidden;
		font-family: 'Poppins', cursive;
		font-size: 24;

	}

	.mainview{
		min-height: 100vh;
		background: #000;	/*mainbgcolor*/
		color: #fff;
		position: relative;
		padding: 20px;
		right: 0;
		text-align: center;
		box-sizing: border-box;
		transition: 0.5s;
		overflow: auto;
	}

	.mainview section .container .profilePic
	{
		float: right;
		/*right: 200px;*/
		height: 270px;
		width: 220px;
		border: 1px dashed yellow;
		border-radius: 50%;

	}
	section .container {
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: 100%;
		min-height: 500px;
		overflow: auto;
	}
	h3 {
		font-family: 'Shadows Into Light', sans-serif;
		font-size: 35px;
		color: green
	}

    /*no instances yet*/
	section .workSlides {
		padding: 10px;
		min-height: 600px;
		min-width: 700px;
		border: 1px solid white;
	}





/*navbar/header*/
	.header {
		width: 40%;
		position: fixed;
		box-sizing: border-box;
		/*border: 1px solid red;*/
		border-radius: 20%;
		height: 100px;
		/*background-color: #cccccc;*/
		background-image: radial-gradient(white, black);
		opacity: 1;

	}




/*sidebar*/
	/*toggler*/
	input[type="checkbox"]
	{
		position: fixed;
		right: 10px;
		top: 20px;
		width: 50px;
		height: 50px;
		z-index: 100000;
		cursor: pointer;
		opacity: 0;
	}

	.icon{
		position: fixed;
		right: 20px;
		top: 20px;
		width: 50px;
		height: 50px;
		z-index: 100001;
		border: 1px solid #fff;
		background: #cf3f24;
		pointer-events: none;
	}

	.icon:before
	{
		content: '>>';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		text-align: center;
		line-height: 50px;
		text-transform: uppercase;
		font-weight: 700;
	}

	input[type="checkbox"]:checked ~ .icon:before
	{
		content: '<<';
	}

	.background ul {
		position: fixed;
		top: 0;
		right: 0;
		margin-top: 50px;
		padding: 10px 10px;
		box-sizing: border-box;
		border-radius: 50%;
		width: 150px;
		height: 200px;
		background-image: radial-gradient(white,gray);
		justify-content: center;
		text-align: center;
		transition: 0.5s;
		z-index: 100000;
		overflow-y: auto;
		overflow-x: hidden;
		font-family: 'Shadows Into Light', sans-serif;
		font-size: 22;
		/*opacity: 0.8;*/
	}

	input[type="checkbox"]:checked ~ ul
	{
		right: -600px;
	}

	.background ul i li {
	 	display: block;
	 	text-decoration: none;
	 	letter-spacing: 3px;
	 	padding: 5px;
	 	box-sizing: border-box;
	 	text-decoration: none;
	 	font-size: 20px;
	 	font-weight: 500px;
	 	transition: 0.7s;
	 	opacity: 1;
	 }

	 .background ul i li:hover {
	 	transform: translateX(10px) translateY(-5px);
	 	background: transparent;
	 	color: yellow;
	 	opacity: 1;
	 }

	 /*this will make the .mainview move to the right when checkbox is checked*/
	/*input[type="checkbox"]:checked ~ .mainview
	{
		right: 0;
		transition: 0.5s;
	}*/

</style>